@model PaymentWeb.Data.Entity.PaymentDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PaymentDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cardOwnerName" class="control-label"></label>
                <input asp-for="cardOwnerName" class="form-control" />
                <span asp-validation-for="cardOwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cardNo" class="control-label"></label>
                <input asp-for="cardNo" class="form-control" />
                <span asp-validation-for="cardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expireDate" class="control-label"></label>
                <input asp-for="expireDate" class="form-control" />
                <span asp-validation-for="expireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvv" class="control-label"></label>
                <input asp-for="cvv" class="form-control" />
                <span asp-validation-for="cvv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isDelete" class="control-label"></label>
                <input asp-for="isDelete" class="form-control" />
                <span asp-validation-for="isDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedAt" class="control-label"></label>
                <input asp-for="updatedAt" class="form-control" />
                <span asp-validation-for="updatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdBy" class="control-label"></label>
                <input asp-for="createdBy" class="form-control" />
                <span asp-validation-for="createdBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedBy" class="control-label"></label>
                <input asp-for="updatedBy" class="form-control" />
                <span asp-validation-for="updatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
